
// === 640px ===

@media (min-width: 640px){
    .logo__link{
        margin-left: 14px;
    }
    .header__inner{
        min-height: 100px;
    }
    .container{
        padding: 0 30px;
    }
    .top-slider{
    &__item{
        min-height: 386px;
    }
    &__title{
        font-size: 60px;
        line-height: 60px;
        padding: 50px 0 15px;
        margin: 0 auto 30px;
        max-width: 520px;
    }
    &__btn{
        display: block;
        font-weight: 500;
        margin: 0 auto 113px;
        font-size: 18px;
        background-color: $accent;
        color: $bg-color;
        border-radius: 3px;
        padding: 16px 45px;
        border: none;
        text-transform: uppercase;
    }
    .slick-dots{
        bottom: 50px;
    }
    .slick-arrow{
        width: 56px;
        height: 56px;
        border: none;
        position: absolute;
        right: 0;
        z-index: 5;
    }
    .slick-prev{
        background-color:$accent;
        top: calc(50% - 56px);

    }
    .slick-next{
        background-color: $bg-color;
        bottom: calc(50% - 56px);
    }
    }
}

// === / 640px ===

// === 768px ===

@media (min-width: 768px){
    .logo__link{
        margin-left: 0px;
    }
    .header__inner{
        min-height: 100px;
    }
    .container{
        padding: 0 40px;
    }
    .top-slider{
        &__item{
            min-height: 465px;
        }
    &__title{
     padding: 87px 0 0;
     margin: 0 auto 0;

    &::after{
                display: none;
            }
        }
    &__text{
            padding: 25px 0 32px;
            font-size: 18px;
            line-height: 20px;
            font-family: 'RobotoCondensed-Regular';
            font-weight: 400;
            display: block;
            max-width: 586px;
            margin: 0 auto;;
        }
    }
    .call{
        text-align: left;
        &__inner{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__box{
            max-width: 427px;
        }
        &__text{
            margin-bottom: 0;
        }
    }
}

// === / 768px ===

// === 1024 px ===

@media (min-width: 1024px){
    .container{
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 40px;
    }
    .top-slider{
        &__item{
            min-height: 618px;
        }
        &__title{
            padding-top: 101px;
            font-size: 84px;
            line-height: 84px;
            letter-spacing: 2px;
            max-width: 750px;
        }
        .slick-dots{
            bottom: 80px;
        }
    }
    .call{
        &__box{
            max-width: 695px;
        }
    }
}

// === 1440 px ===

@media (min-width: 1440px){
    .container{
        max-width: 1320px;
    }
    .menu__btn{
        margin-right: 90px;
    }
    .top-slider{
        &__item{
            min-height: 668px;
        }
        &__title{
            padding-top: 107px;
            font-size: 96px;
            line-height: 96px;
            letter-spacing: 2px;
            max-width: 865px;
        }
        &__text{
            font-size: 24px;
            line-height: 26px;
            max-width: 886px;
        }
        .slick-arrow{
            width: 70px;
            height: 70px;
        }
        .slick-prev{
            top: calc(50% - 70px);
        }
        .slick-next{
            bottom: calc(50% - 70px);
        }
    }
    .call{
        &__inner{
            padding: 0 80px;
        }
        &__box{
            max-width: 796px;
        }
    }

}

// === / 1440 px ===