html  {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.body {
    min-width: 320px;
    overflow-x: hidden;
    font-family: 'Roboto-Regular', 'Arial', 'sans-serif';
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}

.container {
    padding: 0 20px;
}

// === Header === 

.header {
    background-color: $accent;
    &__inner {
        min-height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo__link {
    margin-left: 8px;
}

.menu__btn {
    height: 40px;
    width: 40px;
    border-radius: 3px;
    background-color: #fff;
    border: none;
    position: relative;
    &::after {
        content: "";
        height: 2px;
        width: 12px;
        border-radius: 1px;
        background-color: $accent;
        position: absolute;
        top: 15px;
        left: 14px;
        box-shadow: 0 4px 0 0 $accent, 0 8px 0 0 $accent;
    }
    
}

// === / Header ===

// === top-slider ===
.head {
    background-image: url('/images/bg-slider.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 193px;
}

.top-slider{
    background: rgba(33, 33, 33, 0.5);
    &__item{
        color: #fff;
        text-align: center;
    }
    &__title{
        text-transform: uppercase;
        font-family: 'RobotoCondensed-Regular';
        line-height: 28px;
        font-size: 28px;
        font-weight: 400;
        padding: 36px 0 28px;

    }
}
// === / top-slider