html  {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.body {
    min-width: 320px;
    overflow-x: hidden;
    font-family: 'Roboto-Regular', 'Arial', 'sans-serif';
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}

button{
    padding: 0;
}

p{
    margin: 0;
    text-transform: uppercase;
}

.container {
    padding: 0 20px;
}

// === Header === 

.header {
    background-color: $accent;
    &__inner {
        min-height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo__link {
    margin-left: 8px;
}

.menu__btn {
    height: 40px;
    width: 40px;
    border-radius: 3px;
    background-color: #fff;
    border: none;
    position: relative;
    &::after {
        content: "";
        height: 2px;
        width: 12px;
        border-radius: 1px;
        background-color: $accent;
        position: absolute;
        top: 15px;
        left: 14px;
        box-shadow: 0 4px 0 0 $accent, 0 8px 0 0 $accent;
    }
    
}

// === / Header ===

// === top-slider ===
.head {
    background-image: url('/images/bg-slider.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 193px;
}

.top-slider{
    background: rgba(33, 33, 33, 0.5);
    &__item{
        min-height: 193px;
        color: #fff;
        text-align: center;
    }
    &__title{
        text-transform: uppercase;
        font-family: 'RobotoCondensed-Regular';
        line-height: 28px;
        font-size: 28px;
        font-weight: 400;
        padding: 36px 0 28px;
        max-width: 243px;
        margin: 0 auto;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 8px;
            width: 61px;
            background-color: $text-color;
            margin: 0 auto;
        }
    }
    &__text{
        display: none;
    }
    &__btn{
        display: none;
    }
    .slick-dots{
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        .slick-active{
            button{
                background-color: transparent;
                border: 1px solid #476E4D;
            }
        }
        button{
            font-size: 0;
            border: none;
            background-color: $accent;
            padding: 0;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin: 0 10px;
        }  

    }
}
// === / top-slider

