$accent: #2B4074;
$text-color: #4A4A4A;
$bg-color: #F9F6E5;

%dosis-300{
    font-family: 'Dosis-Light';
    font-weight: 300;
}

%roboto-500 {
    font-family: 'Roboto-Medium';
    font-weight: 500;
}

