$accent: #2B4074;
$text-color: #4A4A4A;
$text-color2: #797979;
$default-color: #9B9B9B;
$bg-color: #F9F6E5;

%dosis-300{
    font-family: 'Dosis-Light';
    font-weight: 300;
}

%robotocondensed-400 {
    font-family: 'RobotoCondensed-Regular';
    font-weight: 400;
}

%robotocondensed-Bold {
    font-family: 'RobotoCondensed-Bold';
    font-weight: 700;
    font-style: normal;
}

%roboto-500 {
    font-family: 'Roboto-Medium';
    font-weight: 500;
}
